@media screen and (max-width: 550px) {
  nav {
    justify-content: center;
    width: 75%; }
    nav svg {
      display: block; }
    nav .menuButton {
      display: block;
      cursor: pointer; }
    nav .logo {
      display: block;
      margin: auto; }
    nav .collapsibleMenu {
      position: fixed;
      justify-content: space-around;
      align-items: center;
      background-color: white;
      width: 100vw;
      height: 150px;
      top: 0;
      left: 0;
      transform: translateY(-100%);
      transition: .5s ease-in-out; }
      nav .collapsibleMenu svg {
        margin-right: 35px;
        cursor: pointer; }
      nav .collapsibleMenu a {
        color: black; }
    nav .activeNav {
      transform: translateY(0);
      transition: .5s ease-in-out; }
  .bottomRow {
    display: block; }
    .bottomRow .imgLeft,
    .bottomRow .imgRight {
      width: 100%; }
    .bottomRow .aboutText {
      width: 100%; } }
