@media screen and (max-width: 900px) {
  .slideButtons button {
    height: 60px; }
  .desktopButton {
    display: none; }
  .tabletButton {
    display: block;
    position: absolute;
    bottom: 5px;
    right: 0;
    z-index: 30; }
  .topRow {
    display: block; }
    .topRow .imgHolder {
      width: 100%; }
    .topRow .titleHolder {
      width: 100%; }
      .topRow .titleHolder .titleCard {
        margin: 20px auto; }
  .bottomRow {
    flex-wrap: wrap; }
    .bottomRow .imgLeft,
    .bottomRow .imgRight {
      width: 50%; }
    .bottomRow .aboutText {
      order: 3;
      width: 100%; } }
